# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE/editor settings
.idea/
.vscode/

# macOS metadata
.DS_Store
